@import url("https://fonts.googleapis.com/css?family=Lato:400,700,800,600");

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

body {
    font-family: 'Lato', sans-serif;
}

.website-section1 {
    align-items: center;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    height: 1867px;
    overflow: hidden;
    width: 1920px;
}

.website-section11 {
    align-items: center;
    background-color: #e554731a;
    display: flex;
    gap: 93px;
    height: 850px;
    min-width: 1920px;
    padding: 0 240px;
}

.website-section12 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 50px;
    min-height: 506px;
    width: 712px;
}

.website-section13 {
    color: #272727;
    font-weight: 800;
    letter-spacing: 0;
    min-height: 288px;
    line-height: normal;
    width: 708px;
    font-size: 80px;
}

.it-is-a-long-establi-1 {
    min-height: 90px;
    width: 6634px;
    font-size: 18px;
}

.website-section1 .it-is-a-long-establi-4 {
    letter-spacing: 0;
    line-height: 30px;
    font-size: 18px;
}

.website-section16 {
    align-items: flex-start;
    background-color: #e55473;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 20px 43px;
    position: relative;
    width: fit-content;
}

.website-section17 {
    letter-spacing: 0;
    font-size: 20px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.website-section18 {
    display: flex;
    margin-right: 30px;
    margin-left: 300px;
    height: 800px;
    object-fit: cover;
    width: 635px;
}

.website-section2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    gap: 24px;
    margin-left: 4px;
    margin-top: 178px;
    min-height: 132px;
    width: 598px;
}

.website-section21 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 4px;
    min-height: 48px;
    min-width: 392px;
    text-align: center;
    white-space: nowrap;
    font-size: 40px;
}

.it-is-a-long-establi {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    margin-right: 4px;
    min-height: 60px;
    text-align: center;
    width: 594px;
}

.website-section3 {
    align-items: flex-start;
    display: flex;
    gap: 22px;
    height: 605px;
    margin-top: 48px;
    min-width: 1440px;
}

.website-section31 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 605px;
    width: 466px;
}

.website-section32 {
    align-items: flex-end;
    background-image: url('../flowershop-website/images/Rectangle%20pink%20border.png');
    background-size: 100% 100%;
    display: flex;
    height: 538px;
    margin-right: 2px;
    min-width: 464px;
    padding: 0 76px;
}

.website-section33 {
    height: 228px;
    object-fit: cover;
    width: 310px;
}

.website-section34 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 35px;
    margin-right: 3px;
    min-width: 181px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
}

.website-section4 {
    align-items: center;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    min-height: 449px;
    padding: 128px 648px;
    width: 1922px;
}

.website-section41 {
    height: 471px;
    object-fit: cover;
    width: 314px;
}

.website-section42 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 35px;
    margin-right: 1px;
    min-width: 181px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
}

.website-section43 {
    font-size: 24px;
    align-items: flex-start;
    background-color: #2727270d;
    border-radius: 8px;
    display: flex;
    gap: 98px;
    height: 320px;
    justify-content: flex-end;
    margin-top: 128px;
    min-width: 1440px;
    padding: 86px 173px;
}

.website-section44 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 147px;
    width: 374px;
}

.website-section45 {
    height: 88px;
    margin-right: 2px;
    width: 88px;
}

.website-section46 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 35px;
    margin-right: 2px;
    min-width: 372px;
    text-align: center;
    white-space: nowrap;
}

.website-section47 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 147px;
    width: 318px;
}

.website-section48 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 35px;
    margin-right: 2px;
    min-width: 316px;
    text-align: center;
    white-space: nowrap;
}

.website-section49 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 147px;
    width: 204px;
}

.website-section466 {
    font-size: 24px;
    line-height: 35px;
    margin-right: 2px;
    min-width: 202px;
    text-align: center;
    white-space: nowrap;
}

.website-section477 {
    align-items: center;
    background-color: #e554730d;
    border-radius: 8px;
    display: flex;
    gap: 182px;
    height: 620px;
    margin-right: 2px;
    margin-top: 128px;
    min-width: 1922px;
    padding: 0 395px;
}

.website-section488f {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    min-height: 228px;
    width: 598px;
}

.website-section499 {
    font-size: 40px;
    color: transparent;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 5px;
    min-height: 48px;
    min-width: 537px;
    white-space: nowrap;
}

.website-section5 {
    color: #e55473;
}

.it-is-a-long-establis-2 {
    margin-right: 4px;
    margin-top: 24px;
    min-height: 60px;
    text-align: center;
    width: 594px;
}

.website-section51 {
    align-items: flex-start;
    background-color: #e55473;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-right: 27px;
    margin-top: 32px;
    padding: 20px 43px;
    position: relative;
    width: fit-content;
}

.website-section52 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.website-section53 {
    height: 420px;
    object-fit: cover;
    width: 318px;
}

.website-section54 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 4px;
    margin-top: 128px;
    min-height: 132px;
    width: 598px;
}

.website-section55 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 4px;
    min-height: 48px;
    min-width: 180px;
    text-align: center;
    white-space: nowrap;
}

.website-section56 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    margin-right: 4px;
    min-height: 60px;
    text-align: center;
    width: 594px;
}

.website-section57 {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    margin-top: 48px;
    min-width: 1440px;
}

.website-section58 {
    height: 396px;
    object-fit: cover;
    width: 342px;
}

.website-section59 {
    height: 396px;
    width: 342px;
}

.website-section6 {
    align-items: center;
    background-image: url('../flowershop-website/images/Rectangle%209.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 128px;
    min-height: 449px;
    padding: 121px 0;
    width: 1440px;
}

.website-section61 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 3px;
    margin-top: 1px;
    min-height: 94px;
    width: 377px;
}

.website-section62 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 4px;
    min-height: 48px;
    min-width: 373px;
    text-align: center;
    white-space: nowrap;
}

.website-section63 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    margin-right: 4px;
    min-width: 231px;
    text-align: center;
    white-space: nowrap;
}

.website-section64 {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    min-width: 866px;
}

.website-section65 {
    align-items: flex-end;
    background-color: white;
    border-radius: 8px;
    display: flex;
    height: 64px;
    min-width: 700px;
}

.website-section66 {
    font-size: 16px;
    color: #111010;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 19px;
    min-width: 165px;
    text-align: center;
    white-space: nowrap;
}

.website-section67 {
    align-items: flex-end;
    background-color: #e55473;
    border-radius: 8px;
    display: flex;
    height: 64px;
    min-width: 150px;
    padding: 18.3px 31px;
}

.website-section68 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    min-height: 27px;
    width: 88px;
}

.website-section69 {
    align-items: flex-start;
    display: flex;
    height: 449px;
    margin-left: 4px;
    margin-top: 128px;
    min-width: 1928px;
}

.website-section7 {
    align-items: center;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    min-height: 449px;
    padding: 128px 648px;
    width: 1922px;
}

.website-section71 {
    font-size: 48px;
    color: transparent;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 1px;
    min-height: 58px;
    min-width: 259px;
}

.website-section72 {
    color: #e55473;
}

.website-section73 {
    color: white;
}

.website-section74 {
    margin-left: 1px;
    margin-top: 32px;
    min-width: 355px;
    text-align: center;
    white-space: nowrap;
}

.website-section74 {
    color: #ffffff66;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

